<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Layout</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/bootstrap-4.6.0-dist/css/bootstrap.min.css"
          th:href="@{/css/bootstrap-4.6.0-dist/css/bootstrap.min.css}"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/LineIcons.css" th:href="@{/css/LineIcons.css}" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/custom.css" th:href="@{/css/custom.css}" crossorigin="anonymous">
    <script src="../../static/js/jquery-3.5.1.slim.min.js" th:src="@{/js/jquery-3.5.1.slim.min.js}"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="../../static/js/popper.min.js" th:src="@{/js/popper.min.js}"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="../../static/css/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js" th:src="@{/css/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" th:with="view=${#httpServletRequest.getServletPath()}">
        <div class="container">
            <a class="navbar-brand text-nowrap" href="index.html" th:href="@{'/'}">
                <span class="navbar-logo lni lni-32 lni-bi-cycle"></span>
                spring bike clinic</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExpandItems4th">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-nav collapse navbar-collapse" id="navbarExpandItems4th">
                <div class="row ml-lg-auto no-gutters">
                    <div class="nav-item col-sm-6 col-md" th:classappend="${#strings.startsWith(view,'/index') or view == '/' ? 'active' : ''}">
                        <a class="nav-link text-nowrap" href="index.html" th:href="@{'/'}">
                            <span class="nav-item-icon lni lni-16 lni-home"></span>
                            <span>Home</span> <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="nav-item col-sm-6 col-md" th:classappend="${#strings.startsWith(view,'/about') ? 'active' : ''}">
                        <a class="nav-link text-nowrap" href="about.html" th:href="@{'/about/'}">
                            <span class="nav-item-icon lni lni-16 lni-star"></span><!-- lni-compass lin-code-alt -->
                            <span>About</span></a>
                    </div>
                    <div class="nav-item col-sm-6 col-md" th:classappend="${#strings.startsWith(view,'/services') ? 'active' : ''}">
                        <a class="nav-link text-nowrap" href="services.html" th:href="@{'/services/'}">
                            <span class="nav-item-icon lni lni-16 lni-cog"></span>
                            <span>Services</span></a>
                    </div>
                    <div class="nav-item col-sm-6 col-md" th:classappend="${#strings.startsWith(view,'/account') ? 'active' : ''}">
                        <a class="nav-link text-nowrap" href="account.html" th:href="@{'/account/'}">
                            <span class="nav-item-icon lni lni-16 lni-user"></span>
                            <span>My Account</span></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="container" layout:fragment="page-content">
    <h2>What!? Temporary Placeholder Text</h2>
    <p>Don't be too proud of this technological terror you've constructed. The ability to destroy a planet is insignificant next to the power of the Force. I have traced the Rebel spies to her. Now she is my only link to finding their secret base.</p>
    <p>Kid, I've flown from one side of this galaxy to the other. I've seen a lot of strange stuff, but I've never seen anything to make me believe there's one all-powerful Force controlling everything. There's no mystical energy field that controls my destiny. <strong> It's all a lot of simple tricks and nonsense.</strong> <em> Don't be too proud of this technological terror you've constructed.</em> </p>
    <h3>The more you tighten your grip, Tarkin, the more star systems will slip through your fingers.</h3>
    <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here. Leave that to me. Send a distress signal, and inform the Senate that all on board were killed.</p>
    <p>Hokey religions and ancient weapons are no match for a good blaster at your side, kid. Hey, Luke! May the Force be with you. You don't believe in the Force, do you? I find your lack of faith disturbing.</p>
    <ol>
        <li>What good is a reward if you ain't around to use it? Besides, attacking that battle station ain't my idea of courage. It's more like…suicide.</li>
        <li>The ability to destroy a planet is insignificant next to the power of the Force.</li>
        <li>Partially, but it also obeys your commands.</li>
    </ol>
</div>

<nav class="navbar navbar-footer fixed-bottom align-content-center align-middle">
    <div class="container">
        <div class="footer-text abs-center-x">Developed by <a href="https://ericrybarczyk.com" target="_blank">Eric Rybarczyk</a></div>
    </div>
</nav>
</body>
</html>
