body {
    color: #3e3630;
    padding-bottom: 32px; /* allow for footer */
}
a {
    color: #fb8c00;
}
a:hover {
    color: #fb8c00;
}
a:focus {
    color: #fb8c00;
}
a:active {
    color: #fb8c00;
}
.action-link {
    color: #5fa134;
    text-decoration: none;
}
.action-link:hover {
    color: #5fa134;
    text-decoration: none;
}

/* --------------- Navbar --------------- */
.navbar-custom {
    border-top: 4px solid #fb8c00;
    background-color: #34302d;
    margin-bottom: 12px;
    padding: 0 1rem;
}
.navbar-custom .navbar-brand {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 42px;
}
.navbar-logo {
    margin-right: 8px;
}
.navbar-custom .navbar-logo-icon {
    margin-right: 8px;
    width: 47px;
    height: 47px;
    display: inline-block;
    padding: 0;
}
.navbar-custom .navbar-nav .nav-item > a {
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    padding: 28px 20px;
    text-shadow: none;
    text-transform: uppercase;
}
.navbar-custom .navbar-nav .nav-item > a:hover,
.navbar-custom .navbar-nav .nav-item > a:focus {
    color: #f1f1f1;
    background-color: #fb8c00;
}
.nav-item-icon {
    padding-right: 6px;
}
.navbar-custom .navbar-nav .active > a,
.navbar-custom .navbar-nav .active > a:hover,
.navbar-custom .navbar-nav .active > a:focus {
    color: #f1f1f1;
    background-color: #fb8c00;
}

/* ------------ Navbar Tabs ------------- */
.nav-site-link.active {
    font-weight: bold;
}
.nav-site-link.active:hover {
    cursor: default;
}
.nav-site-link:not(.active) {
    color: #3e3630;
}
.nav-site-link:not(.active):hover {
    color: #fb8c00;
}

/* ------------ Buttons ----------------- */
.btn-site-primary {
    color: #fafafa;
    background-color: #fb8c00;
    border-color: #fb8c00;
}
.btn-site-primary:hover {
    color: #ffffff;
    background-color: #f57c00;
    border-color: #fb8c00;
}
.btn-site-primary:focus {
    color: #ffffff;
    background-color: #f57c00;
    border-color: #fb8c00;
}
.btn-site-primary:active {
    color: #ffffff;
    background-color: #f57c00;
    border-color: #fb8c00;
}

.btn-site-secondary {
    color: #fafafa;
    background-color: #3e3630;
    border-color: #3e3630;
}
.btn-site-secondary:hover {
    color: #ffffff;
    background-color: #38302c;
    border-color: #3e3630;
}
.btn-site-secondary:focus {
    color: #ffffff;
    background-color: #38302c;
    border-color: #3e3630;
}
.btn-site-secondary:active {
    color: #ffffff;
    background-color: #38302c;
    border-color: #3e3630;
}

.btn-site-outline-secondary {
    color: #3e3630;
    border-color: #3e3630;
}
.btn-site-outline-secondary:hover {
    color: #fafafa;
    background-color: #3e3630;
    border-color: #3e3630;
}
.btn-site-outline-secondary:focus {
    color: #fafafa;
    background-color: #3e3630;
    border-color: #3e3630;
}
.btn-site-outline-secondary:active {
    color: #fafafa;
    background-color: #3e3630;
    border-color: #3e3630;
}

/* ------------ Page Content ------------ */
.main-content {
    padding-top: 24px;
}
.sidebar-section {
    background-color: #fafafa;
    border: 1px solid #f1f3f0;
    border-radius: 9px;
    box-shadow: 0 1px #f1f3f0;
    margin-bottom: 24px;
    margin-right: 18px;
    padding: 10px;
}
h1 {
    font-size: 32px;
    line-height: 34px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 18px;
}
h2 {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 14px;
}
h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 12px;
}
.crash-bike {
    transform: rotate(180deg);
    font-size: 42px;
    line-height: 48px;
    font-weight: bold;
    color: #f57c00;
}
/* -------------- Services -------------- */
.service-type-container {
    margin: 8px 0 8px 0;
}
.service-type-icon {
    color: #d96000;
}

/* --------- Footnotes and Footer ------- */
.text-credits {
    font-size: 10px;
    line-height: 14px;
}
.navbar-footer {
    height: 24px;
    background: #f4f4f4;
}
.footer-text {
    color: #888;
    font-size: 11px;
}
.footer-text > a {
    color: #1e88e5;
}
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
