body {
    color: #3e3630;  /* 2f2926 */
}
a {
    color: #fb8c00;
}
.navbar-custom {
    border-top: 4px solid #fb8c00;
    background-color: #34302d;
    margin-bottom: 12px;
    padding: 0 1rem;
}
.navbar-custom .navbar-brand {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 42px;
}
.navbar-custom .navbar-logo-icon {
    margin-right: 8px;
    width: 47px;
    height: 47px;
    display: inline-block;
    padding: 0;
}
.navbar-custom .navbar-nav .nav-item > a {
    color: #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    padding: 28px 20px;
    text-shadow: none;
    text-transform: uppercase;
}
.navbar-custom .navbar-nav .nav-item > a:hover,
.navbar-custom .navbar-nav .nav-item > a:focus {
    color: #f1f1f1;
    background-color: #fb8c00;
}
.nav-item-icon {
    padding-right: 6px;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
    color: #f1f1f1;
    background-color: #fb8c00;
}
.main-content {
    padding-top: 24px;
}
.page-title {
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 18px;
}
.text-credits {
    font-size: 10px;
    line-height: 14px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 24px;
    padding-top: 4px;
    background: #f4f4f4;
}
.footer-text {
    color: #888;
    font-size: 11px;
}
.footer-text > a {
    color: #1e88e5;
}
