<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>My Bikes :: Spring Bike Clinic</title>
</head>
<body>

<!--/*@thymesVar id="bikeList" type="java.util.List<com.springbikeclinic.web.dto.BikeDto>"*/-->
<!--/*@thymesVar id="bikeDto" type="com.springbikeclinic.web.dto.BikeDto"*/-->
<div class="container main-content" layout:fragment="page-content">

    <div class="row">
        <div class="col-md-6">
            <h1 class="ml-1">My Bikes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <section th:replace="fragments/account/accountSecondaryNav :: accountSecondaryNav ('bikes')"></section>
        </div>
        <div class="col-md-9">
            <section class="pt-3">

                <div class="row pt-3">
                    <div class="col-md-12 mb-3">
                        <h3>Saved Bikes</h3>
                    </div>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Manufacturer</th>
                        <th scope="col">Model</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${bikeList == null || bikeList.size() == 0}">
                        <td colspan="5" class="text-center">You have no bikes saved in your account</td>
                    </tr>
                    <tr th:each="bike : ${bikeList}">
                        <td th:text="${bike.bikeType.description}">TYPE</td>
                        <td th:text="${bike.manufacturerName}">Manufacturer</td>
                        <td th:text="${bike.modelName}">Model</td>
                        <td th:text="${bike.description}">Description</td>
                        <td>
                            <div class="row justify-content-center">
                                <a class="btn btn-site-secondary btn-sm mr-3" th:href="@{'/account/bikes/edit/' + ${bike.id}}">edit</a>
                                <a class="btn btn-site-secondary btn-sm" data-toggle="modal" th:attr="data-target='#deleteConfirmModal'+${bike.id }">delete</a>
                            </div>
                            <div class="modal fade" th:id="deleteConfirmModal+${bike.id }" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteConfirmModalLabel">Are you sure?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p class="mb-3">Are you sure you want to delete this bike?</p>
                                            <p th:text="${bike.manufacturerName} + ' ' + ${bike.modelName} + ' (My ' + ${bike.bikeType.description} + ' Bike)'"></p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-site-secondary btn-sm" data-dismiss="modal">Cancel</button>
                                            <a type="button" class="btn btn-site-primary btn-sm" th:href="@{/account/bikes/delete/{id}(id=${bike.id})}">Delete Bike</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <!-- Add New Bike -->
                <div class="row pt-3 mt-4">

                    <div class="col-md-9 my-3">
                        <h3>Add a bike to your account:</h3>
                    </div>

                    <div class="col-md-9">
                        <form th:object="${bikeDto}" th:action="@{/account/bikes/save/}" method="post">
                            <input type="hidden" th:field="*{id}"/>

                            <div class="form-group row">
                                <label for="description" class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{description}" name="description" id="description" class="form-control"
                                           placeholder="Description" required
                                           th:class="${#fields.hasErrors('description')} ? 'form-control is-invalid' : 'form-control'">
                                    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="invalid-feedback">
                                        error message
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="bikeType" class="col-sm-3 col-form-label">Bike Type</label>
                                <div class="col-sm-9">
                                    <select name="bikeType" id="bikeType" class="form-control" th:field="*{bikeType}">
                                        <option th:value="OTHER">Bike Type</option>
                                        <option th:remove="all">Mountain</option>
                                        <option th:remove="all">Gravel</option>
                                        <option th:each="bikeType : ${T(com.springbikeclinic.web.domain.BikeType).values()}"
                                                th:value="${bikeType.name()}"
                                                th:text="${bikeType.description}">Other
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="manufacturerName" class="col-sm-3 col-form-label">Manufacturer</label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{manufacturerName}" name="manufacturerName" id="manufacturerName" class="form-control"
                                           placeholder="Manufacturer" required
                                           th:class="${#fields.hasErrors('manufacturerName')} ? 'form-control is-invalid' : 'form-control'">
                                    <div th:if="${#fields.hasErrors('manufacturerName')}" th:errors="*{manufacturerName}" class="invalid-feedback">
                                        error message
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="modelName" class="col-sm-3 col-form-label">Model</label>
                                <div class="col-sm-9">
                                    <input type="text" th:field="*{modelName}" name="modelName" id="modelName" class="form-control" placeholder="Model" required
                                           th:class="${#fields.hasErrors('modelName')} ? 'form-control is-invalid' : 'form-control'">
                                    <div th:if="${#fields.hasErrors('modelName')}" th:errors="*{modelName}" class="invalid-feedback">
                                        error message
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="modelYear" class="col-sm-3 col-form-label">Year</label>
                                <div class="col-sm-3">
                                    <input type="text" th:field="*{modelYear}" name="modelYear" id="modelYear" class="form-control" placeholder="Year"
                                           th:class="${#fields.hasErrors('modelYear')} ? 'form-control is-invalid' : 'form-control'">
                                    <div th:if="${#fields.hasErrors('modelYear')}" th:errors="*{modelYear}" class="invalid-feedback">
                                        error message
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-3 offset-sm-3 mt-3">
                                    <button class="btn btn-site-primary" type="submit">Save Bike</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>


            </section>
        </div>
    </div>

</div>

</body>
</html>
