<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>My Service History :: Spring Bike Clinic</title>
</head>
<body>

<!--/*@thymesVar id="customerAccountDto" type="com.springbikeclinic.web.dto.CustomerAccountDto"*/-->
<div class="container main-content" layout:fragment="page-content">

    <div class="row">
        <div class="col-md-6">
            <h1 class="ml-1">My Service History</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <section th:replace="fragments/account/accountSecondaryNav :: accountSecondaryNav ('history')"></section>
        </div>
        <div class="col-md-9">
            <section class="pt-3">

                <div class="row pt-3" sec:authorize="isAuthenticated()">
                    <div class="col-md-12">
                        <p th:text="'Welcome ' + ${customerAccountDto?.firstName}">Welcome</p>
                    </div>
                </div>

            </section>
        </div>
    </div>

</div>

</body>
</html>
