<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Account Not Found :: Spring Bike Clinic</title>
</head>
<body>

<div class="container main-content" layout:fragment="page-content">

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>Account Verification Error</h1>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 offset-md-3">
            The requested account was not found.
        </div>
    </div>

</div>

</body>
</html>
