<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Error :: Spring Bike Clinic</title>
</head>
<body>
<div class="container main-content" layout:fragment="page-content">

    <h1 class="text-center">Oops! Something Went Wrong... </h1>

    <div class="text-center mb-4">
        <div class="crash-bike">OK?</div>
        <div class="crash-bike">BIKE</div>
        <div class="crash-bike">IS MY</div>
    </div>

    <h3 class="text-center">Details have been logged. Lessons will be learned. Thanks for understanding!</h3>


</div>
</body>
</html>
