<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>My Account :: Spring Bike Clinic</title>
</head>
<body>

<!--/*@thymesVar id="createAccountDto" type="com.springbikeclinic.web.dto.CreateAccountDto"*/-->
<div class="container main-content" layout:fragment="page-content">
    <script>
        $(document).ready(function(){
            $('a[data-toggle="tab"]').on('show.bs.tab', function(e) {
                localStorage.setItem('activeAccountTab', $(e.target).attr('href'));
            });
            const activeTab = localStorage.getItem('activeAccountTab');
            if(activeTab){
                $('#accountTabs a[href="' + activeTab + '"]').tab('show');
            }
        });
    </script>

    <div class="row">
        <div class="col-md-3">
            <h1 class="ml-1">My Account</h1>
            <section class="sidebar-section" sec:authorize="!isAuthenticated()">
                Lorem Ipsum... why do I need an account, yadda yadda yadda
            </section>
            <section th:replace="fragments/account/accountSecondaryNav :: accountSecondaryNav"></section>
        </div>
        <div class="col-md-9">

            <section id="login-or-create" sec:authorize="!isAuthenticated()">
                <ul class="nav nav-tabs" id="accountTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-site-link active" id="existing-tab" href="#existing-account"
                           data-toggle="tab" role="tab" aria-selected="true">Existing Customer</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link nav-site-link" id="create-tab" href="#create-account" data-toggle="tab"
                           role="tab" aria-selected="false">Create My Account</a>
                    </li>
                </ul>
                <div class="tab-content w-50" id="tabContent">
                    <br>

                    <!-- Login Form -->
                    <div th:replace="fragments/account/loginForm :: loginForm"></div>

                    <!-- Create Account Form -->
                    <div th:replace="fragments/account/createAccountForm :: createAccountForm"></div>

                </div>
            </section>

            <!-- Logged-in My Account Content -->

            <div class="row" sec:authorize="isAuthenticated()">
                <div class="col-md-12">
                    <p th:text="'Welcome ' + ${createAccountDto?.firstName}">Welcome</p>
                </div>
            </div>

        </div>
    </div>

</div>

</body>
</html>
