<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Spring Bike Clinic</title>
</head>
<body>

<div class="container main-content" layout:fragment="page-content">

    <div class="row">
        <div class="col-md-3 text-center">
            <img class="img-responsive" src="../static/img/3bikes_sydandmacky_small.png" th:src="@{/img/3bikes_sydandmacky_small.png}" alt="photo of bikes" />
            <br>
            <span class="text-credits">Image Credit: <a href="https://www.youtube.com/sydandmacky" target="_blank">SYD and MACKY</a></span>
        </div>
        <div class="col-md-9">
            <p class="page-title">Welcome to Spring Bike Clinic</p>
            <p><strong>This ia a DEMO website</strong>, built as a software development portfolio project.</p>
            <p>All features are completely functional from a technology perspective, but <strong>there is no <em>real</em> bike clinic</strong>.</p>
        </div>
    </div>

</div>

</body>
</html>
